@import url(../static/fonts/fonts.css);

body {
    min-width: 320px;
    /* font-family: "RobotoRegular", sans-serif; */
    font-family: "Inter", sans-serif;
}

.page {
    color: #FFF;
}

.wrapper {
    background-color: #2A2C2F;
    color: #FFF;
    min-width: 320px;
    width: 1440px;
    margin: 0 auto;
    padding: 0 128px;
    font-size: 18px;
    text-align: center;
}
.main {
    color: #FFF;
}

/* -------------------------------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 30px 128px 48px; */
    max-width: 1184px;
    height: 82px;
    margin: 0 auto;;
    background-color: #472d2d;
}

.header__logo img {
    width: 176px;
}

/* --------------------------------- */

.lead {
    max-width: 985px;
    margin: auto;
    background-color: #2a1b63;
}

.lead__title {
    /* font-family: Inter; */
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 93px;
    text-align: center;
    margin: 48px auto;
}

/* ---------------------------------- */

.place__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
}

/* --------------------------------- */

.footer__link a {
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    text-align: left;
}

.footer__copyright {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
}