@font-face {
  font-family: 'Inter';
  /* src: url(./Inter-Regular.woff); */
  src: url(../static/fonts/Inter-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  /* src: url(./Inter-Bold.woff); */
  src: url(../static/fonts/Inter-Bold.woff);
  font-weight: bold;
}
