.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1184px;
  min-height: 70px;
  /* background-color: #585757; */
}
.footer__link a {
  color: #FFF;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 41px;
  text-align: left;
  padding-right: 12px;
  text-decoration: none;
}
.footer__link a:hover {
  color: #cccccc;
  text-decoration: underline;
}

.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
}